@using tranvanphuongdoan3.Models.Entities;
@{
    ViewBag.Title = "chitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model nhan

<!-- ##### Single Product Details Area Start ##### -->
<section class="single_product_details_area d-flex align-items-center">
    @if (Model != null)
    {

        <!-- Single Product Thumb -->
        <div class="single_product_thumb clearfix">
            <div class="product_thumbnail_slides owl-carousel">
                <img src="~/Content/images/@Model.image" alt="">
                <img src="~/Content/images/@Model.image" alt="">
                <img src="~/Content/images/@Model.image" alt="">
            </div>
        </div>

        <!-- Single Product Description -->
        <div class="single_product_desc clearfix">
            <span>DOJI</span>
            <a href="cart.html">
                <h2>@Model.tennhan</h2>
            </a>
            <p class="product-price">@string.Format("{0:#,##0 VND}", @Model.dongia)</p>
            <p>Màu sắc: @Model.mausac</p>
            <p>Chất liệu: @Model.chatlieu</p>
            <!-- Form -->
            <form class="cart-form clearfix" method="post">
                <!-- Select Box -->
                <!-- Cart & Favourite Box -->
                <div class="cart-fav-box d-flex align-items-center">
                    <!-- Cart -->
                    <button type="submit" name="addtocart" value="5" class="btn essence-btn" onclick="ThemGioHang('@Model.manhan','@Model.dongia','@Model.tennhan.Trim()','@Model.image')"style="padding: 18px; color: white;" >Thêm giỏ hàng</button>
                    <!-- Favourite -->
                    <div class="product-favourite ml-4">
                        <a href="#" class="favme fa fa-heart"></a>
                    </div>
                </div>
            </form>
        </div>
    }
</section>
<!-- ##### Single Product Details Area End ##### -->
