<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Nhẫn cưới DOJI - Nâng tầm hạnh phúc</title>

    <!-- Favicon  -->
    <link rel="icon" href="~/Content/img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="~/Content/css/core-style.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .owl-carousel .owl-stage-outer {
            position: relative;
            overflow: hidden;
            -webkit-transform: translate3d(0px, 0px, 0px);
            width: 1107px;
        }
    </style>
    <script>
        function tongtiendua() {
            //alert("chao");

        }
        $(document).ready(function () {

            $.get("/GioHang/tongtien1", function (data1) {
                if (data1.success == true) {
                    $("#Thanhtien123").html(formatMoney(data1.tongtien));

                }
            });

        });
    </script>

</head>
@using tranvanphuongdoan3.Models.DataAccess;
@using tranvanphuongdoan3.Models.Entities;
@{
    loaiModel db = new loaiModel();
}

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="@Url.Action("index","nhan")">DOJI</a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li>
                                <a href="@Url.Action("index","nhan")">Trang chủ</a>

                            </li>
                            <li>
                                <a href="#">Sản phẩm</a>
                                <ul class="dropdown" style="width: 250px;">
                                    @foreach (var item in db.getLoai())
                                    {
                                        <li> <a href=@Url.Action("danhsachsanpham", "loai", new { @maloai = item.maloai, tenloai = item.tenloai }) style="width:250px;"> @item.tenloai </a> </li>
                                    }

                                </ul>
                            </li>
                            <li><a href="blog.html">Giới thiệu</a></li>
                            <li><a href="contact.html">Liên hệ</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    @*<form action="#" method="post">*@
                    @using (Html.BeginForm("search", "search", new { page = 1 }))
                    {
                        <input name="tenSPTim" type="text" value="@ViewBag.KeyWord" placeholder="Tìm kiếm" aria-label="Search" id="search">
                        <button type="submit" id="btnsearch"><i class="fa fa-search" aria-hidden="true"></i></button>
                    }
                    @*</form>*@
                </div>
                <!-- Favourite Area -->
                <div class="favourite-area">
                    <a href="#"><img src="../../Content/img/core-img/heart.svg" alt=""></a>
                </div>
                <!-- User Login Info -->
                <div class="user-login-info">
                    <a><img src="../../Content/img/core-img/user.svg" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="@Url.Action("giohang","giohang")"><img src="../../Content/img/core-img/bag.svg" alt=""></a>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Right Side Cart Area ##### -->
    <!-- Cart Button -->
    <div class="modal fade" id="ModelGioHang" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-left: -400px;width:820px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" style="font-size: 25px;font-family: sans-serif;color: #128066;">Giỏ hàng của bạn</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="border-radius: 50%;width: 35px;background: red;margin-top: -30px;height: 35px;color: #08807a;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                @*<th scope="col">Mã sản phẩm </th>*@
                                <th scope="col">Tên sản phẩm </th>
                                <th scope="col">Hình ảnh </th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col"> Thành tiền</th>
                                <th scope="col"> Chức năng</th>
                            </tr>
                        </thead>
                        <tbody id="bang_GioHang">
                        </tbody>
                    </table>

                </div>
                <div><p style="margin-left: 15px;font-family: sans-serif;font-size: 20px;color: #025f0a;float:left">Tổng tiền:</p>  <span style="font-size: 19px;padding: 0px 10px;color: #fb8409;" id="Thanhtien123"></span></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="background: #f77067;border-radius: 20px;color: #fff;font-family: sans-serif;">Close</button>
                    <button type="button" class="btn btn-primary" style="border-radius: 20px;font-family: sans-serif;border: none;background: #0c9a8d;"><a href=@Url.Action("Giohang", "giohang") style="color:#fff;">View</a></button>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="~/Content/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="~/Content/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="~/Content/js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="~/Content/js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="~/Content/js/active.js"></script>
    <script>
        $(document).ready(function () {
            $("#butGioHang").click(function () {
                $("#ModelGioHang").modal();
            });
        });
    </script>
    <script>
        function SoLuongChange(id, dg) {
            console.log(id);
            console.log(dg);
            var sl = parseInt($("#giohang_SoLuong_" + id).val());
            console.log(sl);
            var thanhtien = sl * dg;
            console.log(thanhtien);
            $.ajax({
                url: '@Url.Action("SuaCTDH", "GioHang")',
                type: 'Get',
                datatype: 'JSon',
                data: { masp: id, sl: sl },
                success: function (data) {
                    $('#giohang_thanhtien_' + id).html(formatMoney(thanhtien.toString()));
                    $("#Thanhtien123").html(formatMoney(data.tong));
                    $("#sl").html(data.sl);
                },
                error:function(data)
                {
                    alert("Loi roi");
                }
            });
        }
    </script>
    <script>

        function formatMoney(amount) {
            decimalCount = 0;
            decimal = ".";
            thousands = ",";
            try {
                decimalCount = Math.abs(decimalCount);
                decimalCount = isNaN(decimalCount) ? 2 : decimalCount;

                const negativeSign = amount < 0 ? "-" : "";

                let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                let j = (i.length > 3) ? i.length % 3 : 0;

                return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousands) + (decimalCount ? decimal + Math.abs(amount - i).toFixed(decimalCount).slice(2) : "");
            } catch (e) {
                console.log(e)
            }
        };
        function ThemGioHang(MaSP,Gia,TenSP,Hinh)
        {
            console.log(MaSP);
            $.ajax(
          {
              url: '@Url.Action("AddCart", "GioHang")',
              type: 'Post',
              datatype: 'Json',
              data: { masp: MaSP, dongia: Gia, tensp: TenSP, hinhanh: Hinh },
              success: function (data) {
                  console.log(data);
                  $("#Thanhtien123").html(formatMoney(data.tong));
                  $("#sl").html(data.ssp);
                  alert('Thêm giỏ hàng thành công ');
              },
              error: function (data) {
                  alert('Không thêm được vào giỏ hàng');
              }

          });

        }
        $("#butGioHang").click(function () {
            var html = '';
            $.ajax(
                {
                    url: '@Url.Action("GetCard", "GioHang")',
                    type: 'Get',
                    datatype: 'Json',
                    success: function (data) {
                        $.each(data.LCTDH, function (key, item) {
                            html += '<tr id="row_model_' + item.MaSP + '">';
                            //html += '<td>' + item.MaSP + '</td>';
                            html += '<td>' + item.TenSP + '</td>';
                            html += '<td><img src="/Content/image/' + item.HinhAnh + '" width="45px" height="45px" /></td>';
                            console.log("~/Content/image/" + item.HinhAnh);
                            html += '<td>';
                            html += '<input onchange="SoLuongChange(\'' + item.MaSP + '\',' + item.DonGia + ')" id="giohang_SoLuong_' + item.MaSP + '" type="text" value="' + item.SoLuong + '"min="1" max="5">';
                            html += '</td>';
                            html += '<td id="giohang_Donggia_' + item.MaSP + '">' + item.strDonGia + '</td>';
                            html += '<td id="giohang_thanhtien_' + item.MaSP + '">' + formatMoney(item.SoLuong * item.DonGia) + '</td>';
                            html += '<td><a class="glyphicon glyphicon-trash" onclick="XoaGioHang(\'' + item.MaSP + '\')" style="font-size: 15px;color: #0db577;"></a></td>';
                            html += '</tr>';
                        });
                        $('#bang_GioHang').html(html);
                        $("#sl").html(data.soluong);
                    }
                })
        })
        function XoaGioHang(id)
        {
            $.ajax({
                url: '@Url.Action("XoaCTDH", "GioHang")',
                type: 'Get',
                datatype: 'Json',
                data: { masp: id },
                success:function(data)
                {
                    $("#row_model_" + id).remove();
                    $("#Thanhtien123").html(formatMoney(data.tong1));
                    $("#sl").html(data.sldem);
                    setTimeout(function () {
                        window.location.reload();
                    }, 100);
                }
            })
        }
    </script>
</body>

</html>