@using tranvanphuongdoan3.Areas.Admin.Models.Entities;
@model IEnumerable<Loai>
@{
    ViewBag.Title = "loai";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
@using tranvanphuongdoan3.Areas.Admin.Models.DataAccess;
@{
    LoaiModel db = new LoaiModel();
}
<style>
    .dropbtn {
        background: #4e73df;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        margin-bottom:30px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
</style>                                  

<div class="dropdown">
    <button class="dropbtn">Chọn loại nước hoa</button>
    <div class="dropdown-content">
        @foreach (var item in db.layLoai())
        {
            <a href=@Url.Action("sanphamadmin", "SanphamAdmin", new { maloai = @item.maloai, tenloai = @item.tenloai}) class="dropdown-item" style="width: 170px;color: #666;border-bottom: 1px solid #66666621;"> @item.tenloai</a>
        }
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" style="font-size: 13px;">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Loại</th>
                        <th scope="col"> Tác vụ</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Loại</th>
                        <th scope="col"> Tác vụ</th>
                    </tr>
                </tfoot>
                <tbody id="bang">
                    @{ var sloai = Model.Count<Loai>();
                    }
                    @for (int i = 0; i < sloai; i++)
            {
                var l = Model.ElementAtOrDefault<Loai>(i);
                        <tr id="row_@l.maloai">
                            <td id="cell0_@l.maloai">@(i+1)</td>
                            <td title='Mã loại="@l.maloai"' id="cell1_@l.maloai">@l.tenloai</td>
                            <td id="cell2_@l.maloai" hidden="hidden">@l.mota</td>
                            <td>
                                <input type="hidden"  id="maloai_@l.maloai" value="@l.maloai" / >
                                <a class="btn" id="Sua_@l.maloai" onclick="Sua('@l.maloai')" data-toggle="modal" data-target="#SuaLoai"><i class="far fa-edit"></i></a>
                                <a class="btn" id="Xoa_@l.maloai" onclick="Xoa('@l.maloai')"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="SuaLoai">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 1000px;margin-left: -240px;">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div style="float: left;width: 516px;">
                        Mã loại:
                        <input type="text" class="form-control" id="txtMaLoai"style="width: 450px;" >
                    </div>
                    <div>
                        Tên loại:
                        <input type="text" class="form-control" id="txtTenLoai"style="width: 450px;">
                    </div>
                    <div>
                        Mô tả:
                        <input type="text" class="form-control" id="txtMoTa"style="width: 450px;">
                    </div>
                    </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="butUpdate" type="button" class="btn btn-danger" data-dismiss="modal" onclick="Update($('#txtMaLoai').val())">Update</button>
                    <button id="butAdd" type="button" class="btn btn-danger" data-dismiss="modal" onclick="Insert()">Add</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">close</button>
                </div>

            </div>
        </div>
    </div>

    @section Header
{
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Danh sách loại sản phẩm</h1>
            <a style="color:white" onclick="ThemLoai_Click()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="Them_Loai" data-toggle="modal" data-target="#SuaLoai"><i class="fas fa-plus"></i> Thêm Loại</a>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
        </div>
    }

    @section Section_script
{
        <script>
            function ThemLoai_Click() {
                $("#butAdd").show();
                $(".modal-title").html("Thêm thông tin loại sản phẩm")
                $("#butUpdate").hide();
                $("#txtMaLoai").val('');
                $("#txtTenLoai").val('');
                $("#txtMoTa").val('');

            }

            function Sua(id) {
                $("#butAdd").hide();
                $("#butUpdate").show();
                $(".modal-title").html("Sửa thông tin loại sản phẩm")
                $('#txtMaLoai').val($('#maloai_' + id).val());
                $('#txtTenLoai').val($('#cell1_' + id).html());
                $('#txtMoTa').val($('#cell2_' + id).html());
            }
            function Insert() {
                event.preventDefault();
                // Lấy dữ liệu nhập vào trên Model
                var maloai = $('#txtMaLoai').val();
                var tenloai = $('#txtTenLoai').val();
                var mota = $('#txtMoTa').val();
                // Gọi thực thi phương thức Insert vào csdl
                $.ajax(
                 {
                     url: '@Url.Action("ThemLoaiSP", "Loai")',
                     type: 'POST',
                     dataType: 'json',
                     data: {
                         maloai: maloai,
                         tenloai: tenloai,
                         mota: mota
                     },
                     success: function (data) {
                         if (data.success) {
                             $('#bang:last-child').
                                 append("<tr  id=row_" + maloai + "> <td>" + maloai + "</td> <td>" + tenloai + "</td> <td>" + mota + "</td></tr>");
                             alert("<tr> <td>" + maloai + "</td> <td>" + tenloai + "</td> <td>" + mota + "</td></tr>");
                         }
                         else {
                             alert(data.ms);
                         }
                     },
                     error: function (data) {
                         alert('xay ra loi');
                     }
                 });
            }
            function Update(id) {
                event.preventDefault();
                var maloai = $('#txtMaLoai').val();
                var tenloai = $('#txtTenLoai').val();
                var mota = $('#txtMoTa').val();
                $.ajax(
                 {
                     url: '@Url.Action("SuaLoaiSP", "Loai")',
                     type: 'POST',
                     dataType: 'json',
                     data: {
                         maloai: maloai,
                         tenloai: tenloai,
                         mota: mota
                     },
                     success: function (data) {

                         if (data.success) {

                             $('#cell1_' + id).html(tenloai);
                             $('#cell2_' + id).html(mota);

                         }
                         else {
                             alert(data.ms);
                         }
                     },
                     error: function (data) {
                         alert('xay ra loi');
                     }
                 });
            }
            function Xoa(id) {
                var cf = confirm('bạn có chắc chắn xóa không');
                if (cf) {
                    $.ajax(
                        {
                            url: '@Url.Action("XoaLoaiSP","Loai")',
                            //'/LoaiSanPham/XoaLoaiSP',
                            type: 'Post',
                            datatype: 'Json',
                            data: { id: id },
                            success: function (dl) {
                                if (dl.success) {
                                    // location.reload();
                                    $('#row_' + id).remove();
                                }

                            }
                        }
                        )
                }
            }
        </script>
    }



